/* Body text */
body {
  background-color: hsl(216, 100%, 84%);
  text-align: center;
}

/* Call-to-action container */
.cta {
  border: 15px solid hsl(0, 0%, 100%);
  background-color: hsl(0, 4%, 29%);
  margin: auto;
  width: 20%;
  padding: 60px;
  border-radius: 5%;
  color: hsl(7, 100%, 84%);
}

/* Call to Action "button" */
.cta a,
.cta a:visited {
  color: hsl(0, 0%, 0%);
  text-decoration: none;
  background-color: hsl(0, 0%, 100%);
  padding: 8px;
  border-radius: 10%;
}

/* Hover state */
.cta a:hover {
  color: hsl(7, 100%, 84%);
  text-decoration: none;
}

/* Click state */
.cta a:active {
  background-color: hsl(216, 100%, 84%);
  color: hsl(0, 0%, 0%);
}
